
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Tout les marchands</h1>

<f:flashMessages />


	<f:for each="{sellers}" as="seller">
		<div class="jumbotron">
				<f:link.action action="show" arguments="{seller : seller}"> 
					<h2>{seller.name}</h2>
				</f:link.action>
				
				<b>{seller.email}</b></br>
				<b>{seller.phoneNumber}</b></br>
		</div>
	</f:for>
</table>
</f:section>