
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Tout les vendeurs</h1>

<f:flashMessages />

<table  class="tx_cataloguebrawh" >
	<tr>
		<th><f:translate key="tx_cataloguebrawh_domain_model_seller.name" /></th>
		<th><f:translate key="tx_cataloguebrawh_domain_model_seller.website" /></th>
		<th><f:translate key="tx_cataloguebrawh_domain_model_seller.email" /></th>
		<th><f:translate key="tx_cataloguebrawh_domain_model_seller.phone_number" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{sellers}" as="seller">
		<tr>
			<td><f:link.action action="show" arguments="{seller : seller}"> {seller.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{seller : seller}"> {seller.website}</f:link.action></td>
			<td><f:link.action action="show" arguments="{seller : seller}"> {seller.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{seller : seller}"> {seller.phoneNumber}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{seller : seller}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{seller : seller}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Seller</f:link.action>
</f:section>