
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Ça, c'est les produits !</h1>

<f:flashMessages />
	<f:for each="{products}" as="product">
			<div class="jumbotron">
				<f:link.action action="show" arguments="{product : product}" pageUid="55"> 
					<h2>{product.name}</h2>
				</f:link.action>
				<div><f:image src="{product.pictures.originalResource.publicUrl}" width="200"/></div>
				<b>{product.price} €</b>
			</div>
	</f:for>
</f:section>