
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />
<div class="jumbotron">
		<h2>{product.name}</h2>
	<div><f:image src="{product.pictures.originalResource.publicUrl}" width="200"/></div>
	<div>Date d'ajout : {product.releaseDate -> f:format.date()}</div>
	<div> Description : <f:format.html>{product.description}</f:format.html></div>
	<b>{product.price} €</b>
</div>

<f:link.action action="list">Retour à la liste</f:link.action><br />
</f:section>