
<table class="tx-catalogue-brawh" >
	<tr>
		<td>
			<f:translate key="tx_cataloguebrawh_domain_model_seller.name" />
		</td>
		<td>
		{seller.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cataloguebrawh_domain_model_seller.website" />
		</td>
		<td>
		{seller.website}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cataloguebrawh_domain_model_seller.email" />
		</td>
		<td>
		{seller.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_cataloguebrawh_domain_model_seller.phone_number" />
		</td>
		<td>
		{seller.phoneNumber}
		</td>
	</tr>
</table>